{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block content%}
<div class = "grid lg:grid-cols-2 gap-8">
<div>
<h2 class="text-xl font-semibold mb-4">Upload new image</h2>

<form method="post" enctype="multipart/form-data"
      class="max-w-md space-y-4 mb-8">
  {% csrf_token %}
  {{ form.image.label_tag }}
  {{ form.image }}

  {% if form.errors %}
    <p class="text-sm text-red-600">{{ form.errors.image|striptags }}</p>
  {% endif %}

  <button type="submit"
          name = "form_name"
          value = "form_upload"
          class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700">
    Upload
  </button>
</form>

<h2 class="text-xl font-semibold mb-4">My uploads</h2>

{% if images %}
  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {% for img in images %}
    <a href="?img={{img.id}}">
      <div class="bg-white shadow rounded p-3">
        <img src="{{ img.image.url }}"
             alt="{{ img.original_filename }}"
             class="w-full h-48 object-cover rounded">
        <p class="text-xs text-gray-500 mt-2"> {{ img.name}}
          {{ img.uploaded_at|date:"Y‑m‑d H:i" }}
          
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
{% else %}
  <p class="text-gray-600">You haven’t uploaded any images yet.</p>
{% endif %}
</div>

<!-- selected image, and detection -->

<div>
  {% if selected %}
    <div class="bg-white shadow rounded p-4">
      <img src="{{ selected.image.url }}" class="w-full object-contain">
    </div>

    <form method="post" enctype="multipart/form-data" >
      {% csrf_token %}
       
      <input type="hidden" name="selected_img" value="{{ selected.image }}">
      <div class="flex items-center space-x-2">

        <select name = "model" class="border border-gray-300 rounded-md px-3 py-2 text-sm shadow-sm 
           focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
          {% for model in model_list %}
            <option value = "{{model}}"> {{model}} </option>
          {% endfor %}
        </select>

        <button type="submit" name = "form_name" value="form_detect" class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700">
        Detect </button>
      </div>
    </form>
    {% if detect_result %}
      <p> {{detect_result}}</p>
    {% endif %}


  {% else %}
    <p class="text-gray-500">Click a thumbnail to preview.</p>
  {% endif %}


</div>
</div>
{% endblock %}
